body {
  margin: 0;
}

.container {
  margin: 0;
}

.hidden {
  display:none;
}

/***********/
/* nav bar */
/***********/

.branding {
  display: flex;
  justify-content: flex-start;
}

.lifeforce {
  font-family: 'Sacramento', serif;
  font-size: 48px;
  margin: 0;
}

.subtitle {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

.name {
  padding-left: 5px;
}

.logo-image {
  height: 95px;
  padding: 0 10px 10px;
  width: 95px;
}

header {
  background-color: rgba(250, 242, 216, 0.6);
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.nav-bar {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.nav-bar-item {
  color: black;
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0px 15px;
  text-decoration: none;
}

.nav-bar-item:hover {
  cursor: pointer;
  color: white;
  opacity: .4;
}

.arrow-down {
animation: bouncing 1s infinite ease-in-out;
height: 60px;
width: 60px;
position: fixed;
z-index: 99;
bottom: 2%;
left: 0;
right: 0;
margin: 0 auto;
opacity: .6;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

/***************/
/* Homescreen */
/**************/

.red-room-background {
  background-image: url("../images/red-room.jpg");
  background-attachment: fixed;
  background-color: #EBDCCA;
  background-size: cover;
  position: relative;
}

.homescreen {
  display: flex;
  height: 600px;
}

.homescreen-all-text {
  height: 200px;
  padding: 80px 0 0 50px;
  width: 700px;
}

.homescreen-h2{
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

.homescreen-blurb {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 10px 0;
}

/*************/
/* Our Story */
/*************/

.our-story {
  align-items: center;
  background-color: white ;
  display: flex;
  height:650px;
  justify-content: center;
}

.our-story-all-text {
  padding-bottom: 30px;
  width: 700px;
}

.our-story-h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 3px;
  padding-bottom: 20px;
  text-align: center;
}

hr {
  text-align: center;
  width: 100px;
  margin-bottom: 20px;
}

.our-story-blurb {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

.red-brushstroke-image {
  height: 120px;
  padding-top: 50px;
  opacity: .7;
  width: 720px;
}

/************/
/* PACKAGES */
/************/

.packages-section {
    align-items: center;
    background-color: #FAF2D8 ;
    background-image: url("../images/bloodcells.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    height:650px;
  }


.packages-content {
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  width: 900px;
}

.packages-h2{
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  padding-top: 10px;
  text-align: center;
}

.packages-content-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  padding:0 10px;
  text-align: center;
}

          /*  .packages-button-container {
              padding: 20px 20px 0;
              text-align: center;
            }

           .button {
            border-radius: 25px;
            font-family: 'Work Sans', sans-serif;
            font-weight: 200;
            color: white;
            font-size: 20px;
            background-color: #5B2E48;
            padding: 10px 20px;
            text-decoration: none;
          }

          .button:hover {
            background-color: #E25656;
            cursor: pointer;
            text-decoration: none;
          } OLD BUTTON */

/***************/
/* LEARN MORE */
/**************/

.learn-more {
  background-image: url("../images/bloodcells.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: black;
  height:450px;
  padding: 100px
}

.learn-more-packages-container{
  display: flex;
  justify-content: space-around;
}

.package {
  background-color: white;
  border-radius: 25px;
  margin: 5px;
  padding: 25px;
  width: 300px;
}

.package-pre-header {
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 5px 0;
}

.package-list-h2 {
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

.see-less-container {
  text-align: center;
  padding: 20px;
}

/***************/
/* FACILITIES */
/**************/

.facilities {
  align-items: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  height: 600px;
  width: 100%;
}

.carousel-container {
  background-color: white;
  width: 50%;
  margin-bottom: 10px;

}

.gallery-image {
  height: 500px;
  width: 900px;
}

.gallery-image-3 {
  height: 500px;
  width: 800px;
}

.facilities-all-text {
  width: 40%;
  margin-bottom: 10px;
}

.facilities-h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 10px;
}

.facilities-blurb {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  padding-right: 50px;
  text-align: justify;
}

      /* .facilities-button-container{
        padding: 20px 20px 0 0;
      } OLD BUTTON */

        /* .x-button-container {
          background-color: white;
          height: 50px;
          text-align: right;
        }

        .x-button {
          background-color: #5B2E48;
          border-radius: 80px;
          color: white;
          margin: 5px 15px 0 0;
        }

        .x-button:hover {
          cursor: pointer;
        } OLD BUTTON */

/******************/
/* PLAN YOUR TRIP*/
/*****************/

.plan-your-trip {
  background-color: #5B2E48;
  height: 650px;
  width: 100%;
}

.location-content {
  color: white;
}
