body {
  margin: 0;
}

.container {
  margin: 0;
}

.hidden {
  display:none;
}

/***********/
/* nav bar */
/***********/

.branding {
  display: flex;
  justify-content: flex-start;
}

.lifeforce {
  font-family: 'Sacramento', serif;
  font-size: 48px;
  margin: 0;
}

.subtitle {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

.name {
  padding-left: 5px;
}

.logo-image {
  height: 95px;
  padding: 0 10px 10px;
  width: 95px;
}

header {
  background-color: rgba(250, 242, 216, 0.6);
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.nav-bar {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.nav-bar-item {
  color: black;
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0px 15px;
  text-decoration: none;
}

.nav-bar-item:hover {
  cursor: pointer;
  color: white;
  opacity: .4;
}

/* need to make responsive-first */
@media only screen and (max-width: 750px) {

    header {
      flex-direction: column;
    }

    .branding {
      justify-content: center;
    }

    .lifeforce {
      font-size: 36px;
      margin: 0;
    }

    .subtitle {
      display:none;
    }

    .logo-image {
        display: none;
    }
    .nav-bar{
      justify-content: center;
    }
    .nav-bar-item {
      font-size: 14px;
      margin: 0px 5px;
    }
}

/*******************/
/* BOUNCING ARROW */
/******************/


.arrow-down {
animation: bouncing 1s infinite ease-in-out;
height: 60px;
width: 60px;
position: fixed;
z-index: 99;
bottom: 2%;
left: 0;
right: 0;
margin: 0 auto;
opacity: .6;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

/***************/
/* Homescreen */
/**************/

.red-room-background {
  background-image: url("../images/red-room.jpg");
  background-attachment: fixed;
  background-color: #EBDCCA;
  background-size: cover;
  position: relative;
}

.homescreen {
  display: flex;
  height: 600px;
}

.homescreen-all-text {
  height: 200px;
  padding: 80px 0 0 50px;
  width: 700px;
}

.homescreen-h2{
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

.homescreen-blurb {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 10px 0;
}

/* @media only screen and (max-width: 420px) {
  .red-room-background{
    background-size: auto;
  }
} */


/*************/
/* Our Story */
/*************/

.our-story {
  align-items: center;
  background-color: white ;
  display: flex;
  height:650px;
  justify-content: center;
}

.our-story-all-text {
  padding-bottom: 30px;
  width: 700px;
  max-width: 100%;
}

.our-story-h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 3px;
  padding-bottom: 20px;
  text-align: center;
}

hr {
  text-align: center;
  width: 100px;
  margin-bottom: 20px;
}

.our-story-blurb {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

.red-brushstroke-image {
  height: 120px;
  padding-top: 50px;
  opacity: .7;
  width: 720px;
  max-width: 100%;
}

/************/
/* PACKAGES */
/************/

.packages-section {
    align-items: center;
    background-color: #FAF2D8 ;
    background-image: url("../images/bloodcells.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    height:650px;
  }


.packages-content {
  background-color: white;
  border-radius: 50px;
  padding: 50px;
  width: 900px;
  max-width: 70%;
}

.packages-h2{
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.packages-content-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  padding:0 10px;
  text-align: center;
}


/***************/
/* PACKAGES 2 */
/**************/

.learn-more {
  background-image: url("../images/bloodcells.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: black;
  padding: 100px
}

.learn-more-packages-container{
  display: flex;
  justify-content: space-around;
}

.package {
  background-color: white;
  border-radius: 25px;
  margin: 5px;
  padding: 25px;
  width: 300px;
}

.package-pre-header {
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 5px 0;
}

.package-list-h2 {
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

.package-list-item {
  padding: 5px 0;
}

.package-img {
  width: 70%;
  padding: 0 15%;
}

@media only screen and (max-width: 650px) {
  .learn-more {
    padding: 0;
  }

  .learn-more-packages-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .package-img {
    display: none;
  }

  .package-pre-header {
    font-size: 14px;
  }

  .package-list-h2 {
    font-size: 24px;
  }
}

/***************/
/* FACILITIES */
/**************/

.facilities {
  align-items: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  height: 600px;
  width: 100%;
}

.carousel-container {
  background-color: white;
  width: 50%;
  margin-bottom: 10px;

}

.gallery-image {
  height: 500px;
  width: 900px;
}

.gallery-image-3 {
  height: 500px;
  width: 800px;
}

.facilities-all-text {
  width: 40%;
  margin-bottom: 10px;
}

.facilities-h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 10px;
}

.facilities-blurb {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  padding-right: 50px;
  text-align: justify;
}

@media only screen and (max-width: 750px) {
  .facilities-h2 {
    font-size: 24px;
    padding-top: 20px;
  }

  .facilities-blurb {
    font-size: 18px;
  }

  .facilities {
    margin: 50px;
  }
}

/**************/
/* CONTACT US*/
/*************/

.contact-us {
  align-items: center;
  background-color: white;
  display: flex;
  font-family: "Work Sans";
  justify-content: space-around;
  height: 650px;
}

.contact-us-boomers {
  padding-left: 40px;
  width: 35%;
}

.contact-us-h2 {
  font-family: "Work Sans";
  font-weight: 600;
}

.contact-us-blurb {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
}

.email-us, .call-us {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.email-icon, .phone-icon {
  height: 40px;
  margin: 0;
  width: 40px;
}

.email-address, .phone-number {
  padding-left: 10px;
}

.visit-us {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 20px;
  width: 80%;
}

.address {
  margin: 0;
}

.contact-us-mil {
  background-image: url("../images/red-background.jpg");
  background-size: cover;
  border-radius: 50px;
  color: white;
  padding: 30px;
  position: relative;
  margin-right: 40px;
  width: 40%;
}

.mil-blurb {
  font-size: 16px;
  font-weight: 300;
}

.mil-h2 {
  font-size: 20px;
}

input {
  margin: 5px 0;
}

button {
  background-color: white;
  border: 3px solid black;
  border-radius: 50px;
  padding: 5px 10px;
  margin: 10px 0;
  font-weight: 600;
}


@media only screen and (max-width: 750px) {
  .contact-us-mil{
    display: none;
  }
  .contact-us-boomers {
    padding-bottom: 20%;
    width: 70%;
  }
}
